/*.aliwa_fadingIn {
    transition:opacity 1s linear;
    opacity:0;
}

.aliwa_out {
    opacity:0;
}*/

/*.menu > div,.menu > a{
  height:4.5rem;
   
}*/

.item {
    height:4.5rem;
}

.item > * {
    padding-top: 0.5rem;
}

 @font-face {
  font-family: aliwa_font;
  src: url("Gotham Book Regular.otf");
  /*src: url("Gotham Bold Regular.ttf");*/
}

 @font-face {
  font-family: aliwa_mono;
  /*src: url("Space Gothic Regular.ttf");*/
  src: url("PT Mono Bold.ttf");
  /*src: url("Fira Mono Bold.ttf");*/
 
}


html * {
    font-family:aliwa_font;
}


.aliwa_fadingIn {
	opacity: 1;
	animation-name: aliwa_fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes aliwa_fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.alias_orange_button{
    background: #382b3f;
    background: #fbaa26 !important;
/*    background: #fbaa26;*/
    border:none !important;
}

.alias_orange_button:hover{
    background: #f38320 !important;
}

.alias_orange_button2{
    background: #f38320 !important;
/*    background: #fbaa26;*/
    border:0;
    color: #fff !important;
}

.alias_orange_button2:hover{
    background: #fbaa26 !important;
}

.aliwa_input_label,.aliwa_input_label_distance,.aliwa_input_label_red{
    color:#fff;
    font-size: 1.5rem;
}

.aliwa_input_label_distance{
    margin-top: 1.5rem;
    display: inline-block;
}

.aliwa_input_label_red{
    color: #db2828;
}

.aliwa_input_field,.aliwa_input_field_search,.aliwa_input_field_white,.aliwa_input_field_red{
    background: none !important;
    border:none !important;
    color:#f38320 !important;
    border-bottom: 0.2rem solid #fff !important;
    padding: 0.5rem 0.5rem 0.5rem 0 !important;
    border-radius: 0 !important;
    font-size: 1.5rem !important;
    text-overflow: ellipsis !important;
}

.aliwa_input_field::placeholder,.aliwa_input_field_search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #f38320 !important;
  opacity: 0.6 !important; /* Firefox */
}

.aliwa_input_field_search{
     padding: 0.5rem 0.5rem 0.5rem 2rem !important;
}

.aliwa_input_field_search > i.icon{
    width: auto !important;
   padding: 0rem !important;
   margin: 0rem !important;
   left:0;
}

.aliwa_input_field_white{
  font-size: 1.0rem !important;  
  border-bottom: 0.2rem solid #f38320 !important; 
  outline:none !important;
}

.aliwa_input_field_white:focus{
    outline:none !important;  
}

.aliwa_input_field_red{
 border-bottom: 0.2rem solid #db2828 !important;   
}

.aliwa_orange_text{
    color:#f38320 !important;
    font-size: 1.5rem;
}

#view_qr_code > img,.c_qr_code > img{
    width: 60%;
    height: auto;
    margin: auto;
    border:0.5rem solid #fff;
}

.aliwa_can_click{
   cursor: pointer !important; 
}

.aliwa_autocomplete_item_hover{
 padding:1rem;
 border-width:0px 0px 1px 0px;
 border-color: #ddd;
 border-style: solid;
 cursor: pointer;
}

.aliwa_autocomplete_item_hover:hover{
color: #fff;
background:#f38320;    
}


.ui.inverted.toggle.checkbox input:focus:checked~label:before,
.ui.inverted.toggle.checkbox input:checked~label:before,
.ui.toggle.checkbox input:focus:checked~label:before,
.ui.toggle.checkbox input:checked~label:before,
.ui.checkbox input:checked:focus~label:before, .ui.checkbox input:not([type=radio]):indeterminate:focus~label:before,
.ui.checkbox input:checked~label:before,
.ui.checkbox input:focus~label:before{
    background:#f38320 !important;
    background-color: #f38320 !important;
}


.desktop_hide{
    display:none !important;
}

@media only screen and (max-width: 767.98px){
    tr{
        border-bottom: 0.5rem solid #382b3f !important;  
        /*padding: 0rem 0rem 0rem 0rem !important;*/  
    }
    #view_transactions_table thead th:nth-child(1) {
    display:none !important;
  }
    
    #view_transactions_table td:nth-child(1) {
    display:none !important;
  }
  
   #view_transactions_table th:nth-child(4) {
    display:none !important;
  }
    
    #view_transactions_table td:nth-child(4) {
    display:none !important;
  }
  
   #view_transactions_table th:nth-child(5) {
    display:none !important;
  }
    
    #view_transactions_table td:nth-child(5) {
    display:none !important;
  }
  
   #view_transactions_table th:nth-child(6) {
    display:none !important;
  }
    
    #view_transactions_table td:nth-child(6) {
    display:none !important;
  }
  
  .desktop_hide{
    display:inline !important;
    margin-right: 0.5rem !important;
}
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }